<div class="container mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="countries">
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef> Country </th>
      <td mat-cell *matCellDef="let country"> {{ country.name }} </td>
    </ng-container>

    <ng-container matColumnDef="subregion">
      <th mat-header-cell *matHeaderCellDef> Subregion </th>
      <td mat-cell *matCellDef="let country"> {{ country.subregion }} </td>
    </ng-container>

    <ng-container matColumnDef="population">
      <th mat-header-cell *matHeaderCellDef> Population </th>
      <td mat-cell *matCellDef="let country"> {{ country.population }} </td>
    </ng-container>

    <ng-container matColumnDef="timezone">
      <th mat-header-cell *matHeaderCellDef> Timezone(s) </th>
      <td mat-cell *matCellDef="let country"> {{ country.timezones }} </td>
    </ng-container>

    <ng-container matColumnDef="capital">
      <th mat-header-cell *matHeaderCellDef> Capital </th>
      <td mat-cell *matCellDef="let country"> {{ country.capital }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let country; columns: columns" [matTooltip]="showTooltip(country)" [matTooltipPosition]="'above'" matTooltipClass="tip"></tr>
  </table>
  
  <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEvent = $event" showFirstLastButtons></mat-paginator>
</div>

<router-outlet></router-outlet>